:root {
  font-family: Inter, system-ui, sans-serif;
  font-size: 16px;
  color-scheme: light dark;
  --text-color: #000000;
  --background-color: #ffffff;
  --accent-color: #815ed4;
  --accent-color-hover: #5c32be;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffffff;
    --background-color: #000000;
    --accent-color: #9c80dd;
    --accent-color-hover: #b09ae4;
  }
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-color-hover);
}

body {
  margin: 0;
  background-color: var(--background-color);
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
  color: var(--text-color);
}

h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: var(--text-color);
}

ul {
  margin: 0;
}

li,
p {
  line-height: 1.5;
  margin: 0;
  color: var(--text-color);
}

button {
  font-size: 0.75rem;
  padding: 0.25rem;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--background-color);
}
